{% extends 'base.html' %}
{% block content %}
<div style="margin-left:10px; margin-top: 20px;">
    <span class="pet-bio-text">
        <H2>Контакты</H2>

        <p>
            Вы можете связаться с нами по телефону или почте:
        <ul>
            <li>По всем вопросам приюта: takedog@shelter.ru</li>
            <li>По вопросам ОТЛОВА: osvv.dom@shelter.ru</li>
        </ul>
            Задать все интересующие вопросы, записаться в команду можно по телефону: 
        <ul>
            <li>+7 910 013-99-78</li>
        </ul>
        </p>
    </span>
</div>
{% endblock %}